*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav{
    
    /* width: 100%;
    height: 4vh; */
    padding: 3px;
    background-color:blueviolet;
    position: fixed;
    top: 0;
    z-index: 1
}
.second-nav1{
    z-index: 1;
    top: 3.6rem;
    background-color:white;
    margin-left: 14rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.navbar-brand{
color: black;
font-weight: 700;
}



.navx{
color: white;
font-size: 13px;
font-weight: 500;
}


.cont{
    width: 100%;
    
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; */

}
.hek{
    width: 10%;
    font-size: 25px;
    font-weight: 700;
}
.hekhome{
    color: #101750;
    list-style: none;
}
.nav-links{
    width: 40%;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    gap: 10px;
    justify-content: space-evenly;
    padding-top: 10px;
    font-size: 17px;
    font-weight: 500;
   
}
.fa-search{
    background-color:rgb(251, 46, 134);
    color: white;
    padding: 11px 9px;
    position: absolute;
    left: 11.6rem;
    bottom: 15px;
}
.search{
    position: relative;
}
.input{
    height: 5vh;
}

.order-body11{
    
    width: 100%;
    background-color:rgb(246,245,255);
    height: 30vh;
    margin-top: 9rem;
   
}

/* .order{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */

.shopping{
    /* width: 70%; */
    font-size: 28px;
    font-weight: 700;
    color: #101750;
}

.champ{
    color: black !important;
    text-decoration: none !important;
    margin-bottom: 40px;
    font-weight: 600;
    font-weight: 500;
}
.champs{
    color: #FB2E86!important;
    text-decoration: none !important;
    margin-bottom: 40px;
    font-weight: 500;
}
.champ:hover{
    border-bottom: 2px solid #FB2E86;
}

.Ge{
    height: 30vh;
}

.Gee1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* margin-top: 30px; */
}

.Gee2{
    /* display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    width: 80%;
    text-align: center;
}

.bodddy{
    display: flex;
    flex-direction: row;
    width: 10%;
}
.btnn{
    background-color: #ff1788;
    font-size: 13px;
    color: white;
    /* margin: auto; */
    margin-top: 10px;
}
.pad{
    font-size: 13px;
    font-weight: 600;
    color: #cacbe3;
    width: 50%;
    text-align: center;
    /* margin: auto; */
}
.yours{
    font-size: 30px;
    color: #101750;
    font-weight: 900;
}

.fa-clock-o{
    font-size:70px;
    color: #101750;
}
.fa-check{
    font-size:50px;
    color:#ff1788;
}
.fa-address-book-o{
    margin-left: 50rem;
    width: 20%;
    color:#ff1788;
    font-size:50px;
    padding-top: 20px;
}
.logos{
    height: 10vh;
    background-image: url(./images/image\ 1174.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 8rem;
}


.foots{
    background-color: #eeeffb;
    height: 45vh;
    margin-top: 7rem;
}

.footer{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; */
    padding-top: 3rem;
}

.bott{
    background-color: #FB2E86;
    color: white;
    width: 30%;
    font-size: 12px;
    border: none;
}

.input{
    border-style: none;
}

.search1{
   
    padding-top: 10px;
    /* display: flex;
    flex-direction: row; */
}
.cat{
    font-size: 15px;
    color: black;
    font-weight: 700;
}
.hek{
    font-size: 35px;
    color: black;
    font-weight: 700;
}

.lorems{
    color: #b0b0c2;
   
}

.alright{
    background-color: #9DA0AE;
    height: 15vh;
}

.footer3{
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    width: 100%;
    /* justify-content: space-between; */
    padding: 10px;
    padding-top: 20px;
}

.row11{
    font-size: 30px;
}

.fa-facebook{
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    background-color:#1A0B5B;
}
.fa-instagram{
    color: white;
    padding: 5px;
    border-radius: 50%;
    background-color:#1A0B5B;
}
.fa-twitter{
    color: white;
    padding: 5px;
    border-radius: 50%;
    background-color:#1A0B5B;
} 

.lorem{
   margin-top: 20px; 
   font-weight: 600;
}


